

<section >
    <div class="container nice">
      <div class="card shadow">
        <div class="card-body" id="mainBody" style="color: #64485c">
          
            <h1 class="display-1 font-italic ml-5 title"style="text-align: center; color: #64485c; "> Unser Außengelände</h1>
            <h3 class="text-md-left"> 
            <div>
                Eine große Rasenfläche mit Spielgeräten und drei Sandkästen lädt die Kinder gruppenübergreifend zum Spielen, Wippen, Rutschen, Schaukeln und vielem mehr ein. Es steht den Kindern eine große Auswahl an Sandspielzeug und eine Wasserspielanlage zur Verfügung. Das Außengelände wird jeden Tag genutzt, die Kinder werden durch pädagogische Fachkräfte begleitet.
            </div>
            </h3>
         
        </div>
      </div>
    </div> 
  </section>