<section id="message" class="pb-5">
    <div class="container">
       
        <div class="row">
            <div *ngIf="card">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip">
                        <div class="frontside" >
                            <div class="card">
                                <div class="card-body text-center" >
                                    <p><img [src]="createImg(card.image)" class="img-fluid" alt="Aktuelles"></p>
                                    <h4 class="card-title">{{card.title}}</h4> 
                                    <h3 class="card-text">({{card.date | date}})</h3>                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{card.title}}</h4>
                                    <p class="card-text-center">{{card.text}}</p>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
