
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

    <!--Image-->
        <div class="col-lg-2 col-md-12 mb-4">
               <div class="view overlay z-depth-4-half ">
              <img src="assets/img/logo.png " class="img-fluid" alt="" >
              <a>
                  <div class="mask rgba-blue-grey-light" mdbWavesEffect></div>
              </a>
              </div>
        </div>

    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-3 ml-3">
          <a class="nav-link waves-light" mdbWavesEffect>Startseite</a>
        </li>
        <li class="nav-item mr-3 ml-3">
          <a class="nav-link waves-light" mdbWavesEffect>Aktuelles</a>
        </li>
  
        <!-- Unser_team -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>Über uns</a>
<!--           <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light mr-3 ml-3" mdbWavesEffect>
            Über uns<span ></span></a> -->
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Unsere Einrichtung</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Unsere Team</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Unser Außengelände</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Ernährung</a>
          </div>
        </li>
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
        </li>
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
 