
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

  <div class="five">
    <h1>BunteFarben</h1>
  </div>

    <!--Image-->
<!--         <div class="col-lg-2 col-md-12 mb-4">
               <div class="view overlay z-depth-4-half ">
              <img src="assets/img/logo.png " class="img-fluid" alt="" >
              <a>
                  <div class="mask rgba-blue-grey-light" mdbWavesEffect></div>
              </a>
              </div>
        </div> -->

    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <div class="navbar-nav mr-auto">
        <div class="nav-item mr-3 ml-3 text-left">
          <a class="nav-link waves-light" mdbWavesEffect>Startseite</a>
        </div>
        <div class="nav-item mr-3 ml-3 text-left">
          <a class="nav-link waves-light" mdbWavesEffect>Aktuelles</a>
        </div>
  
        <!-- Unser_team -->
        <div class="nav-item dropdown mr-3 ml-3 text-left" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>Über uns</a>
<!--           <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light mr-3 ml-3" mdbWavesEffect>
            Über uns<span ></span></a> -->
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary purple lighten-1" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Unsere Einrichtung</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Unsere Team</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Unser Außengelände</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Ernährung</a>
          </div>
        </div>
      </div>
      <!-- Links -->
      <div class="navbar-nav ml-auto  nav-flex-icons">
      <div class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="btn  btn-outline-light btn-lg waves-effect" mdbWavesEffect>Login</a>
      </div>
      </div>
     <!--  <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul> -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
 