<nav class="navbar navbar-expand-sm sticky-top site-header">  
  <!-- Brand --> 
  <div class="navbar-brand">
    <h4>Kindergarten</h4>
    <h2>BunteFarben</h2>
  </div>
  
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler dark-toggler" type="button" data-toggle="collapse" data-target="#collapsedNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Links -->
  <div class="collapse navbar-collapse justify-content-center" id="collapsedNav">
    <ul class="navbar-nav header-links">
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/home']" mdbWavesEffect>Startseite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/aktuelles']" mdbWavesEffect>Aktuelles</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Über uns
        </a>
        <div class="dropdown-menu dark-dropdown">
          <a class="dropdown-item waves-light" [routerLink]="['/einrichtung']" mdbWavesEffect>Unsere Einrichtung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item waves-light" [routerLink]="['/team']" mdbWavesEffect>Unsere Team</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item waves-light" [routerLink]="['/aussengelande']" mdbWavesEffect>Unser Außengelände</a>         
          <div class="dropdown-divider"></div>
          <a class="dropdown-item waves-light" [routerLink]="['/ernahrung']" mdbWavesEffect>Ernährung</a>          
        </div>
      </li>
    </ul>     
  </div>  

  <button class="btn custom-button" onclick="window.location='/login'">Sign in</button>
</nav> 
