@import '~bootstrap/scss/bootstrap.scss';

//#e27d60; #85dcba; #e8a87c; #c38d9e; #41b3a3

$hightlightColor: #64485c;
$secondaryTextColor: #85dcba;
$backgroundColor: #41b3a3;
$mainTextColor: #85dcba;

.site-header
{
  background-color: $backgroundColor;
  font-size:15px;
  line-height:24px;
  color:$secondaryTextColor;
}
.site-header h4 {
  color:$mainTextColor;
  text-transform:uppercase;
  font-size:16px;
  letter-spacing:2px;
}

.site-header h2 {
  color:$hightlightColor;
  font-size:18px;
  margin-top:5px;
  letter-spacing:2px;
}

.site-header a
{
  text-align: center;
  text-transform: uppercase;
  color:$mainTextColor;
}

.site-header a:hover
{
  color:$hightlightColor;
  text-decoration:none;
}

.header-links
{
  padding-left:0;
  list-style:none;
}
.header-links li
{
  display:block;
}
.header-links a
{
  color:$mainTextColor;
}
.header-links a:active,.header-links a:focus,.header-links a:hover
{
  color:$hightlightColor;
  text-decoration:none;
}
.header-links.inline li
{
  display:inline-block
}

@media (max-width:991px)
{
  .site-header [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px)
{
  .site-header
  {
    padding-bottom:0;
  }
  .site-header 
  {
    text-align:center;
  }
}

// Basic Button Style
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $mainTextColor;
  border-radius: 0.6em;
  color: $mainTextColor;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  &:hover,
  &:focus {
    color: $hightlightColor;
    outline: 0;
  }
}

.custom-button{
  &:hover {
    border-color: $hightlightColor;
    box-shadow: 0 0 10px 0 $hightlightColor inset, 0 0 10px 4px $hightlightColor;
  }
}

.dark-toggler.navbar-toggler { 
  border-color: $secondaryTextColor; 
} 
/* Setting the stroke to green using rgb values (0, 128, 0) */ 

.dark-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} 

.dark-dropdown.dropdown-menu {
  background-color: $backgroundColor;
}

.dark-dropdown a:hover{
  background-color: $secondaryTextColor;
}