/* 
  .container-fluid {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 250px;
  }
  .card-header{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card-body{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .card-footer{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
  }

   */