@import '~bootstrap/scss/bootstrap.scss';

$hightlightColor: #64485c;
$secondaryTextColor: #85dcba;
$backgroundColor: #41b3a3;
$mainTextColor: #85dcba;
$cardBackGroundColor: white;
$cardBacksideColor: #007b5e;
$topBorderColor: #bbb;