
<p>impressum works!</p>

<main>
    <section>
        <div class="container nice">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="display-1 text-md-left font-italic ml-5 title">Datenschutzerklärung</div>
                    <br/>
                    <article class="article">
                        <div class="display-3 text-md-left font-italic ml-5 font-weight-bold">1. Datenschutz auf einen Blick</div>
                            <div class="display-5 text-md-left font-italic ml-5"> Allgemeine Hinweise </div>
                                <div class="text-md-left ml-5 lead font-medium">
                                <p>
                                    Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
                                </p>
                                </div>
                            
                    </article> 
                </div>
            </div>
        </div>
    </section>
</main>                




<!--
Impressum
Anschrift / Redaktion
Tageseinrichtung für Kinder
"An der Drachenwiese"
Droste-zu-Senden-Straße 25
48308 Senden
Tel.: 02597 - 690 204
Fax.: 02597 - 690 414
Leiterin: Dorota Wtulich
E-Mail: info@kiga-drachenwiese.de

Träger
Gemeinde Senden
Ansprechpartnerin: Margitta Schwan
Rathaus, Zimmer 212
Tel.: 02597 - 699 206
Fax: 02597 - 699 222
E-Mail: m.schwan@senden-westfalen.de

Inhalt des Onlineangebots
Die Tageseinrichtung für Kinder "An der Drachenwiese" ist bemüht, die Aktualität, Richtigkeit und Vollständigkeit der bereitgestellten Daten zu gewährleisten. Es wird jedoch keinerlei Gewähr dafür übernommen. Alle Angebote sind freibleibend und unverbindlich. Die Tageseinrichtung behält sich vor, das Onlineangebot ohne Ankündigung zu verändern, zu ergänzen oder zu löschen.

Verweise und Links
Die Autorin erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten Seiten hat die Autorin keinerlei Einfluss. Deshalb distanziert sie sich hiermit ausdrücklich von allen Inhalten aller verlinkten Seiten, die nach der Linksetzung verändert wurden.

Urheberrecht
Das Urheberrecht der hier veröffentlichten Daten liegt bei der Tageseinrichtung "An der Drachenwiese". Eine Vervielfältigung oder Verwendung der vom Urheber selbst erstellten Texte, Grafiken oder anderen zur Verfügung gestellten Daten in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Urhebers nicht gestattet.
-->
