<div class="container nice">
    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="display-1 text-md-left font-italic ml-5 title">Impressum</div>
            <br/>
            <article class="article">
                <div class="display-4 text-md-left font-italic ml-5"> Anschrift / Redaktion </div>
                <div class="text-md-left ml-5 lead font-medium">
                    <br>
                    <p>
                        Tageseinrichtung für Kinder <br>
                        "BunteFarben" <br>
                        Muster Strasse 1 <br>
                        41564 Kaarst <br>
                        Tel.: 02131 - 932 <br>
                        Fax.: 02131 - 930 <br>
                        Leiterin: Muster Leiterin <br>
                        E-Mail: muster@buntefarben.de <br>
                    </p>                    
                </div>

                <div class="display-4 text-md-left font-italic ml-5"> Träger </div>
                <div class="text-md-left ml-5 lead font-medium">
                    <br>
                    <p>
                        Gemeinde Senden <br>
                        Ansprechpartnerin: Muster Frau <br>
                        Rathaus, Zimmer 212 <br>
                       
                        Tel.: 02131 - 932 <br>
                        Fax.: 02131 - 930 <br>
                       
                        E-Mail: muster@buntefarben.de <br>
                    </p>                    
                </div>
                
                <div class="display-4 text-md-left font-italic ml-5"> Inhalt des Onlineangebots </div>
                <div class="text-md-left ml-5 lead font-medium">
                    <br>
                    <p>
                        Die Tageseinrichtung für Kinder "An der Drachenwiese" ist bemüht, die Aktualität, Richtigkeit und Vollständigkeit der bereitgestellten Daten zu gewährleisten. Es wird jedoch keinerlei Gewähr dafür übernommen. Alle Angebote sind freibleibend und unverbindlich. Die Tageseinrichtung behält sich vor, das Onlineangebot ohne Ankündigung zu verändern, zu ergänzen oder zu löschen.
                    </p>                    
                </div>

                <div class="display-4 text-md-left font-italic ml-5"> Verweise und Links</div>
                <div class="text-md-left ml-5 lead font-medium">
                    <br>
                    <p>
                        Die Autorin erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten Seiten hat die Autorin keinerlei Einfluss. Deshalb distanziert sie sich hiermit ausdrücklich von allen Inhalten aller verlinkten Seiten, die nach der Linksetzung verändert wurden.
                    </p>                    
                </div>

                <div class="display-4 text-md-left font-italic ml-5"> Urheberrecht</div>
                <div class="text-md-left ml-5 lead font-medium">
                    <br>
                    <p>
                        Das Urheberrecht der hier veröffentlichten Daten liegt bei der Tageseinrichtung "An der Drachenwiese". Eine Vervielfältigung oder Verwendung der vom Urheber selbst erstellten Texte, Grafiken oder anderen zur Verfügung gestellten Daten in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Urhebers nicht gestattet.
                    </p>                    
                </div>
            </article> 
        </div>
    </div>
</div>                
