<section >
    <div class="container nice">
      <div class="card shadow">
        <div class="card-body" id="mainBody" style="color: #64485c">
          
            <h1 class="display-1 font-italic ml-5 title"style="text-align: center; color: #64485c; ">Das Essen
            </h1>
            <h3 class="text-md-left"> 
                <div>
                    Die Kinder erhalten bei uns drei Mahlzeiten – Frühstück, Mittagessen und eine Brotzeit. Die Nahrungsmittel sind gesund, ausgewogen, vielfältig und saisonal zusammengestellt, ebenso wird darauf geachtet, dass die Kinder möglichst wenig Zucker zu sich nehmen.
                    Das Mittagessen kocht unsere Kinderhausköchin, ebenfalls ausschließlich aus Bio-Kost. Der Mittagstisch wird vom wechselnden Mittagsdienst eingedeckt. Alle Kinder einer Gruppe essen gemeinsam und räumen selbständig ab.
                    <br>https://kita-rotznasen-wuppertal.de/paedagogisches-konzept/speiseplaene/
                </div>
            </h3>
         
        </div>
      </div>
    </div> 
  </section>