<section >
    <div class="container nice">
      <div class="card shadow">
        <div class="card-body" id="mainBody" style="color: #64485c">
          
            <h1 class="display-1 font-italic ml-5 title"style="text-align: center; color: #64485c; ">  Liebevolle Betreuung 
            </h1>
            <h3 class="text-md-left"> 
                <div>
                    Die Persönlichkeit Ihres Kindes, seine Bedürfnisse, Interessen und Fähigkeiten sind maßgeblich für die Gestaltung unseres pädagogischen Alltags.
                    <br>Unser pädagogisches Team besteht aus 15 Erzieherinnen, 1 Erzieher, 3 Ergänzungskräften und diversen Schulpraktikantinnen und Schulpraktikanten. Für das leibliche Wohl sorgt unsere Kochfrau, die uns alle verwöhnt.
                    <br>Das Personal der Kindertageseinrichtung arbeitet mit den Eltern bei der Förderung der Kinder
                    partnerschaftlich und vertrauensvoll zusammen. Die Eltern haben einen Anspruch auf eine regelmäßige Information über den Stand des Bildungs- und Entwicklungsprozesses ihres Kindes. 

                </div>
            </h3>
         
        </div>
      </div>
    </div> 
  </section>