.intro {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/img/bunteFarben.png')no-repeat center center;
  background-size: cover;
  min-height: 100%;
}
.view {
  height: 100vh !important;
  margin-top: -100px;
}

//scroll arrow
.wrapper {
  height: 100vh;
}
.arrow {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
}
.arrow.one {
  opacity: 0;
  animation-delay: 1s;
}
.container.nice {
  margin-top: 15px;
  margin-bottom: 15px;
}
@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}
