<main> 
 <!--Intro Section-->
 <section class="view intro">   
  <div class="full-bg-img mask rgba-gradient">
    <div class="wrapper">
      <div class="arrow">
        <img src="https://image.flaticon.com/icons/svg/271/271210.svg" alt="">
      </div>
      <div class="arrow one"><img src="https://image.flaticon.com/icons/svg/271/271210.svg" (click)="onArrowClick()" alt=""></div>
    </div>       
  </div>   
</section>
  <!-- Page Content -->
  <section>
    <div class="container nice">
      <div class="card border-0 shadow">
        <div class="card-body" id="mainBody">
          <h1 class="font-weight-light">Fixed Full Page Background Image</h1>
          <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>
          <p class="lead">Scroll down...</p>
          <div style="height: 200px">rtztrztrzrtz</div>          
        </div>
      </div>
    </div> 
  </section>
</main>    
   