
//  /* Set a background image by replacing the URL below */
/* .card-body {
  background: url('../../assets/img/bunteFarben.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.btn{
  height:50px;
  width:100px;
  font-size: 24px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color:cyan;
}  */

 //Smooth effect Login-button
.btn{
  height:50px;
  width:100px;
  font-size: 24px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color:rgb(35, 194, 194);
}

.nav-item {
  position: relative;
  color:white; //text color
  cursor: pointer;
  font-size: 24px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  }
  .nav-item:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 10px;
  background-color:cyan; //color the underline 
  content: "";
  transition: width 0.2s;
  font-family: Comic Sans MS, Comic Sans, cursive;
  }
 
  .nav-item:hover:after {
  width: 100%;
  }



/* Effects in the droptable-menu*/
.dropdown-menu  > a {
  background-color:#80deea;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: white; //text color droptable-menu
  font-size: 15px;
  cursor: pointer;
  position: relative;
}
.dropdown-menu > a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  background-color: cyan ; //color underline of droptable-menu
  content: "";
  transition: width 0.2s;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.dropdown-menu> a:hover {
  color:black; //text color after cursor of droptable-menu
}

.dropdown-menu > a:hover:after {
  width: 100%;
}
 


 //View the text "Buntefarbe kindergarten"
// .five {
//   background: purple2;
//   padding: 50px 100px 50px 170px;
//   text-align: center;
// } 
// .five h1 {
//   font-family: 'Comic Sans MS', sans-serif;
//   font-weight: 400;
//   position: relative;
//   color:#80deea  ;
//   font-size: 3.5em;
//   font-weight: normal;
//   display: inline-block;
//   margin: 0;
//   line-height: 1;
//   padding: 8px 10px 8px 20px;
//   border-top: 3px solid;
// }
// .five h1:before {
//   content: "Kindergarten";
//   position: absolute;
//   top: -10px;
//   left: -180px;
//   font-size: 1em;
//   transform: rotate(-25deg);
//   font-family: 'Marck Script', cursive;
// }
// .five h1:after {
//   content: ""; 
//   position: absolute;
//   width: 120%;
//   height: 4px;
//   right: 0;
//   bottom: -4px;
//   background: #80deea  ;
// }
// @media (max-width: 580px) {
//   .five {padding-left: 130px;}
//   .five h1 {font-size: 2em;}
//   .five h1:before {left: -130px;}
// }
// @media (max-width: 480px) {
//   .five {padding-left: 100px;}
//   .five h1 {
//     font-size: 1.5em;
//     padding-right: 10px;
// }
//   .five h1:before {left: -100px;}
// }
// @media (max-width: 380px) {
//   .five {padding-left: 90px;}
//   .five h1 {font-size: 1.3em;}
//   .five h1:before {left: -88px;}
// }



//for header
 .intro-header {
 
  height: unset !important;

}
.intro-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/img/bunteFarben.png')no-repeat center center;
  background-size: cover;
}
.view {
  height: 100vh !important;
}
/*
.top-nav-collapse  {
  background-color: #4a4a4d !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #5a5b61 !important;
  }
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}
.full-bg-img {
  height: 100%;
}
.card {
  background-color: rgba(229, 228, 255, 0.2);
}
.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: #0c0b0b;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  } 
} */



//scroll arrow
.wrapper {
  height: 100vh;
}
.arrow {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
}
.arrow.two {
  opacity: 0;
  animation-delay: 1s;
}
@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}


//Footer
// font-family for Kontakt & Betreuungs-zeiten
// .text-uppercase {
//   font-family: Comic Sans MS, Comic Sans, cursive;
// } 

// .text{
//   font-family: Comic Sans MS, Comic Sans, cursive;
//   font-size: 100%;
// }

//     img{
//       margin-left: auto;
//       margin-right: auto;
//       margin-bottom: auto;
//       max-height: 50%;
//       max-width: 50%;
//       float: left; 
//     }
 