//for header
//  .intro-header {
 
//   height: unset !important;

// }
.intro-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/img/bunteFarben.png')no-repeat center center;
  background-size: cover;
}
.view {
  height: 100vh !important;
}

/*
.top-nav-collapse  {
  background-color: #4a4a4d !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #5a5b61 !important;
  }
}
.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}
.full-bg-img {
  height: 100%;
}
.card {
  background-color: rgba(229, 228, 255, 0.2);
}
.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: #0c0b0b;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  } 
} */



//scroll arrow
.wrapper {
  height: 100vh;
}
.arrow {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
}
.arrow.two {
  opacity: 0;
  animation-delay: 1s;
}
@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}
