<main> 
 <!--Intro Section-->
 <section class="view intro">   
  <div class="full-bg-img mask rgba-gradient">
    <div class="wrapper">
      <div class="arrow">
        <img src="https://image.flaticon.com/icons/svg/271/271210.svg" alt="">
      </div>
      <div class="arrow one"><img src="https://image.flaticon.com/icons/svg/271/271210.svg" (click)="onArrowClick()" alt=""></div>
    </div>       
  </div>   
</section>
  <!-- Page Content -->
  <section >
    <div class="container nice">
      <div class="card shadow">
        <div class="card-body" id="mainBody" style="color: #64485c">
          
            <h1 class="display-1 font-italic ml-5 title"style="text-align: center; color: #64485c; ">Herzlich Willkommen auf unserer Homepage</h1>
          
            <h2 class="text-center">
              <p>
                Herzlich Willkommen auf unserer Internetseite des Kindergarten BunteFarben!
              </p>
            </h2>
            <h3 class="text-md-left"> 
              <div>
                Auf den folgenden Seiten finden Sie alles Wissenswerte über uns und zahlreiche Informationen über unseren Kindergarten und die Menschen, die ihn zu dem machen, was er ist. 
                Die Kinder können sich in unserer Einrichtung wohlfühlen und werden dabei in ihrer Selbständigkeitsentwicklung unterstützt und gefördert. 
                Unser Ziel ist es, allen Kindern eine anregende und erlebnisreiche Kindergartenzeit zu ermöglichen.    
              </div>
            </h3>
         
        </div>
      </div>
    </div> 
  </section>
</main>    
   