<!-- Footer -->
<footer class="page-footer font-small dark-grey lighten-5 ">

  <div class="dark grey">
    <div class="container">

    </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    
    <!-- Grid row -->
    <div class="row mt-3 text">

      <!-- Grid column -->
      <div class="col-lg-2 col-md-12 mb-4"> 
        <!--Image-->
            <div class="view overlay z-depth-4-half ">
            <img src="assets/img/logo.png " class="img-fluid" alt="" >
            <a>
                <div class="mask rgba-white-light" mdbWavesEffect></div>
            </a>
            </div>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 font-italic">

        <!-- Content -->
        <h3 class="text-uppercase font-weight-bold">Betreuungs-Zeiten</h3>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">
        <h4 class="text-nowrap">
          <p>Mo bis Fr: 07:30 - 16:30 Uhr</p>
          <p> ist eine Buchung von 35 oder 45</p>
          <p>Stunden/Woche möglich.</p>
        </h4>

      </div>
      <!-- Grid column -->

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 font-italic">

        <!-- Links -->
        <h3 class="text-uppercase font-weight-bold ">Kontakt</h3>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <h4>
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon>
            Kaarst, 41564
          </p>
              
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> 
            info@example.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> 
            + 49 127 425 854 7
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon> 
            + 49 127 425 854 7
          </p>
      </h4> 

      </div>
    </div>
  </div>
  </div>
  <!-- Copyright -->

 <div class="row row-no-gutters col-xs-12 col-md-5 text-center px-5" id="bottom-footer" >
    <tr class="text-dark">
      <h5>
        <td ALIGN =center>
            © Copyright BunteFarben Kindergarten e.V. |
        </td>
        <td  ALIGN =center>
          <a href="impressum">Impressum |</a>
        </td>
        <td ALIGN =center><a routerLink="/datenschutz">Datenschutz |</a></td>
      </h5>
    </tr>
  </div> <!--  end row  -->

</footer>
<!-- Footer -->