<!-- Footer -->

<!-- <footer class="page-footer  font-small purple"> -->
  <!-- Footer Links -->
<footer>
  
    <div class="cyan accent-4  text-md-left p-5">
    
    <!-- Grid row -->
    <div class="row  row-no-gutters">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
          <!--Image-->
            <div class="view overlay z-depth-4-half d-inline-block ">
              <img src="assets/img/logo.png " class="img-fluid"alt="" >
            </div>
      </div>

      <!-- Grid column -->
      <div class="col-md-3 mx-auto ">
        <!-- Content -->
        <h3 class="text-uppercase mt-3 font-weight-bold ">Betreuungs-Zeiten</h3>
        <hr class="indigo  accent-3 d-inline-block mx-auto" style="width: 200px;">
        <h4 class="text-nowrap">
          <p class="mr-3">Mo bis Fr: 07:30 - 16:30 Uhr</p>
          <p class="mr-3"> ist eine Buchung von 35 oder</p>
          <p class="mr-3">45 Stunden/Woche möglich.</p>
        </h4>
      </div>
     
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Content -->
        <h3 class="text-uppercase mt-3 font-weight-bold ">Kontakt</h3>
        <hr class="indigo accent-3 d-inline-block  mx-auto" style="width: 100px;">
        <h4 class="text-nowrap">
          <p  class="mr-3"><mdb-icon fas icon="home"></mdb-icon> Kaarst, 41564
          </p> 
          <p  class="mr-3"><mdb-icon fas icon="envelope"></mdb-icon> info@example.com
          </p>
          <p  class="mr-3"><mdb-icon fas icon="phone"></mdb-icon> + 49 127 425 854 7
          </p>
          <p  class="mr-3"><mdb-icon fas icon="print"></mdb-icon> + 49 127 425 854 7
          </p>
        </h4> 
      </div>
    </div>
    </div>

  <!-- Copyright -->
    <div class="row text-dark accent-4  text-md-left ml-4 gx-5">
        <tr>
          <h5>
            <td > © Copyright BunteFarben Kindergarten e.V. </td>
          </h5>
        </tr>
        <tr>
          <h5>
            <td > <a href="impressum"> Impressum </a> </td>
          </h5>
        </tr>
        <tr>
          <h5>
            <td ><a href="datenschutz"> Datenschutz </a></td>
          </h5>
        </tr>
    </div>
  
</footer>