.text-nowrap {
    white-space: nowrap!important;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }


   tr>h5>td>a {
    font-size: 100%;
    margin-left: auto;
    font-weight: 600;
    color: rgb(12, 7, 7);
    }

    // font-family for Kontakt & Betreuungs-zeiten
    .text-uppercase  {
      font-family: Comic Sans MS, Comic Sans, cursive;
    }

