@import '~bootstrap/scss/bootstrap.scss';

$hightlightColor: cyan;
$secondaryTextColor: #737373;
$backgroundColor: #26272b;
$mainTextColor: #fff;

.site-footer
{
  background-color:$backgroundColor;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:$secondaryTextColor;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:$mainTextColor;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:$secondaryTextColor;
}
.site-footer a:hover
{
  color:$hightlightColor;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color:$secondaryTextColor;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:$hightlightColor;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
.site-footer .social-icons
{
  text-align:right;
}
.copyright-text
{
  margin:0
}
.centered-text{
  margin: 0;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .footer-links, .site-footer .centered-text
  {
    text-align:center
  }
}
