<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 centered-text">
          <h6>Betreuungs-Zeiten</h6>
          <p class="text-justify mr-3"> Mo bis Fr: 07:30 - 16:30 Uhr ist eine Buchung von 35 oder 45 Stunden/Woche möglich. </p>
        </div>

        <div class="col-xs-6 col-md-3 centered-text">
          <h6>Kontakt</h6>
          <ul class="footer-links">
            <li><mdb-icon fas icon="home"></mdb-icon> Kaarst, 41564</li> 
            <li><mdb-icon fas icon="envelope"></mdb-icon> info@example.com</li>
            <li><mdb-icon fas icon="phone"></mdb-icon> + 49 127 425 854 7</li>
            <li><mdb-icon fas icon="print"></mdb-icon> + 49 127 425 854 7</li>           
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 centered-text">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="home">Startseite</a></li>
            <li><a href="impressum">Impressum</a></li>
            <li><a href="datenschutz">Datenschutz</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
       <a href="home">BunteFarben Kindergarten e.V.</a>
          </p>
        </div>       
      </div>
    </div>
</footer>